//- base.pug
doctype html 
html
  head
    title StepUp Studio
    block scripts
    block style 
  body
    block content
    section#footer
        | Copyright © 2024 StepUp Studio | All rights reserved