//- base.pug
doctype html 
html
  head
    title StepUp Studio
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="static/logo.png")
                | StepUp Studio
            li #[a(href = "/") Home] 
            li #[a(href = "/about") About] 
            li #[a(href = "/") Services] 
            li #[a(href = "/contact") Contact Us] 
    block content
    section#footer
        | Copyright © 2024 StepUp Studio | All rights reserved