extends base.pug

block scripts
    script(src='/static/index.js')
block style 
    style 
        include ../static/style.css
block content 
    nav#navbar
        ul
            div#logo
                img(src="static/logo.png")
                | StepUp Studio
            li #[a(href = "/") Home] 
            li #[a(href = "/") About] 
            li #[a(href = "/") Services] 
            li #[a(href = "/") Contact Us] 
    section#introSection
        h1 StepUp Studio 
        p Where popular dances shine bright, welcoming everyone to groove, learn, and have fun together!
    section#missionSection
        h2 Our Mission
        div.cardContainer
            div.card
               h3 Empowering Expression
               p We strive to empower individuals to express themselves freely through the art of dance, fostering confidence and creativity.
            div.card
                h3 Inclusive Community
                p Our mission is to build an inclusive and supportive community where dancers of all backgrounds and skill levels feel welcomed and valued.
            div.card
                h3 Elevating Potential
                p We are dedicated to helping each dancer reach their full potential by providing high-quality instruction, resources, and opportunities for growth.
    section#servicesSection
        h2 Our Services
        div.cardContainer
            div.card-price
                h3 Virtual Dance Classes
                ul.price 
                    li Price: $15 per class or $100 monthly unlimited.
                    li Variety of Styles.
                    li Flexible Schedule.
                    li Interactive Experience.
            div.card-price
                h3 Private Dance Lessons
                ul.price 
                    li Price: $50 per 45-minute session or $180 for four sessions.
                    li Customized Instruction.
                    li Flexible Scheduling.
                    li Progress Tracking.
            div.card-price
                h3 Choreography Workshops
                ul.price 
                    li Price: $30 per session or $200 for eight.
                    li Intensive Training.
                    li Skill Development.
                    li Performance Opportunities.